<div class="flex flex-col items-center mb-4 w-full max-w-xs mx-auto">
    <div class="flex justify-between w-full">
      <div class="mb-4 w-full mr-8">
        <label for="department" class="block text-sm font-medium text-gray-700">
          Departamento
        </label>
        <select
          id="department"
          class="text-xs mt-1 block w-full border border-gray-300 rounded-md p-2"
        >
          <option value="" disabled selected>Selecciona un departamento</option>
          <option value="1">Departamento 1</option>
          <option value="2">Departamento 2</option>
        </select>
      </div>
      
      <div class="mb-4 w-full">
        <label for="municipality" class="block text-sm font-medium text-gray-700">
          Municipio
        </label>
        <select
          id="municipality"
          class="text-xs mt-1 block w-full border border-gray-300 rounded-md p-2"
        >
          <option value="" disabled selected>Selecciona un municipio</option>
          <option value="1">Municipio 1</option>
          <option value="2">Municipio 2</option>
        </select>
      </div>
    </div>
  </div>
  