<div class="flex flex-col items-center justify-center p-10">
  <h1 class="text-4xl font-bold mb-4 text-center">Sistema de Vacunación Infantil</h1>
  <div class="max-w-screen-xl w-full">

    <div class="w-full max-w-xs">
      <router-outlet></router-outlet>
    </div>

    <table class="min-w-full border-collapse border border-gray-500 mt-4">
      <thead class="bg-gray-300">
        <tr>
          <th class="border border-gray-500 p-2">Nombre</th>
          <th class="border border-gray-500 p-2">Edad</th>
          <th class="border border-gray-500 p-2">Municipio</th>
          <th class="border border-gray-500 p-2">Vacunas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let child of children">
          <td class="border border-gray-500 p-2">{{ child.name }}</td>
          <td class="border border-gray-500 p-2">{{ child.age }}</td>
          <td class="border border-gray-500 p-2">{{ child.municipality }}</td>
          <td class="border border-gray-500 p-2">{{ child.vaccines }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
